@media print {
  body * {
    visibility: hidden; /* Oculta todo por defecto al imprimir */
  }
  #printSection, #printSection * {
    visibility: visible; /* Muestra únicamente la sección de impresión */
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}